<app-header (searchEvent)="handleSearch($event)"></app-header>
<div class="product-list-container">
  <app-category (categoryChange)="onCategoryChange($event)"></app-category>
  <div class="product-list">
    <div *ngIf="paginatedProducts.length === 0" class="no-products-message">
      <p>No products available at the moment. Please check back later.</p>
    </div>
    <div *ngFor="let product of paginatedProducts" class="card">
      <div class="discount-tag">- {{ product.discountPercentage }}%</div>
      <img [src]="product.thumbnail" [alt]="product.title" class="product-image">
      <div class="card-content">
        <h2 class="product-title">{{ product.title }}</h2>
        <p class="product-description">{{ product.description }}</p>
        <div class="price">
          <span class="original-price">{{ product.price | currency }}</span>
          <span class="discounted-price">{{ getDiscountedPrice(product) | currency }}</span>
        </div>
        <div class="product-details">
          <p><strong>Brand:</strong> {{ product.brand }}</p>
          <p><strong>Category:</strong> {{ product.category }}</p>
          <p><strong>In stock:</strong> {{ product.stock }}</p>
        </div>
        <div class="rating">
          <span class="star">★</span>
          <span class="rating-score">{{ product.rating }}</span>
          <span class="rating-count">({{ product.reviews.length }})</span>
        </div>
        <button class="add-to-cart-btn">ADD TO CART</button>
      </div>
    </div>
  </div>
</div>

<div class="con">
  <div class="pagination">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">&lt;</button>
    <button *ngFor="let page of pages" (click)="changePage(page)" [class.active]="page === currentPage">{{ page }}</button>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">&gt;</button>
  </div>
</div>
